*{
	box-sizing: border-box;
	font-family: "Nunito Sans", Arial, sans-serif;
}
img{
	height: auto;
	max-width: 100%;
}
a,
a:hover,
a:focus{
	text-decoration: none;
}
body{
	background: #f8f9fa;
}
h1,h2,h3,h4,h5,h6{
	font-family: "Nunito Sans", Arial, sans-serif;
	font-weight: 800;
}
.fa-rupee-sign{
	font-size: 80%;
}
.btn-primary{
	border: 1px solid #6c63ff;
	background: #6c63ff;
}
.text-primary{
	color: #6c63ff;
}
.text-danger{
	color: #ff6347;
}
.btn-primary:hover{
	background: #6c63ff;
	border: 1px solid #6c63ff;
	opacity: 0.8;
}
.btn-danger{
	border: 1px solid #ff6347;
	background: #ff6347;
}
.btn-danger:hover{
	background: #ff6347;
	border: 1px solid #ff6347;
	opacity: 0.8;
}

.login ul{
	list-style: none;
}
.login ul li a:not(.btn){
	padding: 8px 15px;
	font-size: 16px;
	font-weight: 600;
	color: #000;
}

/* header */
.header{
	padding: 20px 0;
}

/*banner*/
.full-bg{
	background-image: url('/images/dream11_home_bg.jpg');
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.banner{
	padding: 10% 15px;
	position: relative;
}
.banner-text{
	color: #000;
	position: relative;
	padding: 25px;
	max-width: 60%;
	text-align: right;
}
@media screen and (min-width: 1180px){
	.banner-text h1{
		font-size: 60px;
	}
}
  /*CARD*/

.home-match{
	background-color: #efeff4;
}
.home-match-get{
	font-size: 12px;
	color: gray;
}
.home-match-card4{
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px 0 #cbc8c8;
	cursor: pointer;
}
.home-prize{
	font-size: 13px;
	padding-top: 10px;
}
.join{
	font-size: 12px;
}
.bg-gold{
	background: #fcc745;
	width:50%;
}
.text-gold{
	color:#f57857;
	font-size: 13px;
	padding-top: 10px;

}
.fonts{
	font-size: 12px;
}

   /*CONTAST*/

.Dream11menu ul li a{
	color: #000;
}
.living-dream h1{
	font-size: 50px;
}
.living-dream span{
	color: #e30f0e;
}
.living-small p{
	font-size: 16px;
	font-weight: bold;
	text-align: justify;
}
.Captian h1{
	font-size: 40px;
}
.Captian span{
	color:#e30f0e;
}

/* UPCOMING section */
.upcoming-matches {
	padding: 50px 0;
}
.upcoming-match-title{
	margin-bottom: 30px;
	font-weight: 900;
}
.contest-title{
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
}
.contest-title a{
	color: #333;
}

	/*FOOTER*/

.footer-d-i a i{
	font-size: 38px;
	padding-top: 20px;
	margin-right: 5px;
	color: #fff;
}
.footer-menu ul{
	list-style: none;
}
.footer-menu li a{
	text-decoration: none;
	color: #fff;
	line-height: 40px;
	font-size: 15px;
	font-weight: bold;
}
.footer-text-mem h5{
	font-size: 14px;
	color: #fff;
	font-family:  Roboto;
}
.footer-mem{
	list-style: none;
}
.footer-img{
	list-style: none;
}
.footer-img li{
	margin-right: 10px;
}
.footer-cor h5{
	font-size: 18px;

}
.footer-cor p{
	font-size: 14px;
}
.footer-dis h6{
	font-size: 12px;
	color: #b4b3b3;
}
.footer-dis p{
	font-size: 10px;
	width: 50%;
	color: #818080;
	margin: 0 auto;
}
.end-bootam{
	background: #282828;
}
.logo-text a{
	color: #000;
	font-weight: 900;
	font-size: 30px;
	margin-bottom: 0;
}
.logo-text.footer-logo a{
	color: #fff;
}
.custom-list{
	list-style: none;
	padding: 0;
	margin: 0;
}
.custom-list a{
	color: #fff;
	padding: 5px 0;
	display: block;
}

/* info section */
.ftco-section {
	position: relative;
	z-index: 0;
}
.info-section::after {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	content: '';
	z-index: -1;
	opacity: .9;
	background: #6c63ff;
}
.ftco-counter {
	padding: 8em 0;
}
.ftco-counter .text strong.number {
	font-weight: 600;
	font-size: 34px;
	color: #fff;
}
.block-18 .icon > i {
	font-size: 60px;
	color: #fff;
}
.ftco-counter .text span {
	display: block;
	font-size: 18px;
	color: rgba(255, 255, 255, 0.7);
}


/* Testimonials */
.ftco-counter.testimonials .text strong.number {
	font-size: 22px;
	color: #000;
}
.ftco-counter.testimonials .icon{
	width: 120px;
	margin: auto;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 10px;
}
.ftco-counter.testimonials .text span {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.7);
}

/**
 *	This element is created inside your target element
 *	It is used so that your own element will not need to be altered
 **/

 .time_circles {
    position: relative;
    width: 100%;
    height: 100%;
}


/**
 *	This is all the elements used to house all text used
 * in time circles
 **/

.time_circles {
    padding: 0 5px;
}

.time_circles>div {
    position: absolute;
    text-align: center;
    color: #fff;
    padding: 3px;
    background: #F44336;
}

.time_circles>div:nth-child(2) {
    background: #4CAF50;
}

.time_circles>div:nth-child(3) {
    background: #FF5722;
}

.time_circles>div:nth-child(4) {
    background: #03A9F4;
}

.time_circles>div>span {
    font-size: 16px !important;
    font-weight: bold
}

.time_circles>div>h4 {
    text-align: center;
    text-transform: capitalize;
    line-height: 1;
    font-size: 11px !important;
    overflow: hidden;
    white-space: nowrap;
    margin: auto;
    color: #f44336;
    background: #fff;
    padding: 3px 0 4px 0;
    margin-top: -16px;
    border: 1px solid #f44336;
}

.time_circles>div:nth-child(2)>h4 {
    border: 1px solid #4CAF50;
    color: #4CAF50;
}

.time_circles>div:nth-child(3)>h4 {
    border: 1px solid #FF5722;
    color: #FF5722;
}

.time_circles>div:nth-child(4)>h4 {
    border: 1px solid #03A9F4;
    color: #03A9F4;
}

/* users pages */
.page-heading{
	position: relative;
	z-index: 0;
	color: #ffffff;
}
.page-heading::after {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	content: '';
	z-index: -1;
	opacity: .9;
	background: #6c63ff;
	-webkit-box-shadow: 0 1px 3px 4px rgba(108,99,255,1);
	-moz-box-shadow: 0 1px 3px 4px rgba(108,99,255,1);
	box-shadow: 0 1px 3px 4px rgba(108,99,255,1);
}
