*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.full-bg{
	background: url(images/dream11_home_bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.login ul{
	list-style: none;
}
.login li{
	font-size: 13px;
}
.login ul li a{
	text-decoration: none;
}
.hover a{
	color:#fff;
	letter-spacing: 1px;
}
.hover{
	background:transparent;
	border: 1px solid #fff;
}
.hover:hover{
	color:#000;
	background-color:#fff;
}
.hover:hover a{
	color:red;
}
/*banner*/

.middle-inf{
	position: relative;
	top: 34px;
}
.dr-title{
	font-size: 20px;

}
.left-dhoni{
	position: relative;
}
.register{
	position: relative;
	right: 50px;
	top: 110px;
}
.bouns{
	line-height: 10px;
}
.bouns span{
	color: gold;
}
.play{
	color: gray;
	border-bottom: 1px solid gray;
}
.play:hover{
	text-decoration: none;
	color: red;
}
.valid-p{
	font-size: 12px;
}
.activ ul li{
	list-style: none;
	margin-left: 12px;
}
.activ a{
	padding: 15px 0px;
	text-decoration: none;
	border-bottom: 2px solid red;
	color: #000;
}
.button{
	border: 1px solid black;
	padding: 8px 70px;
}
  /*CARD*/

.home-match{
	background-color: #efeff4;
}
.home-match-get{
	font-size: 12px;
	color: gray;
}
.home-match-card4{
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px #cbc8c8;
}
.home-prize{
	font-size: 13px;
	padding-top: 10px;
}
.join{
	font-size: 12px;
}
.bg-gold{
	background: #fcc745;
	width:50%;
}
.text-gold{
	color:#f57857;
	font-size: 13px;
	padding-top: 10px;

}
.fonts{
	font-size: 12px;
}

   /*CONTAST*/

.Dream11menu ul li a{
	color: #000;
}
.living-dream h1{
	font-size: 50px;
}
.living-dream span{
	color: #e30f0e;
}
.living-small p{
	font-size: 16px;
	font-weight: bold;
	text-align: justify;
}
.Captian h1{
	font-size: 40px;
}
.Captian span{
	color:#e30f0e; 
}

	/*FOOTER*/

.footer-d-i a i{
	font-size: 38px;
	padding-top: 20px;
	margin-right: 5px;
	color: #fff;
}
.footer-menu ul{
	list-style: none;
}
.footer-menu li a{
	text-decoration: none;
	color: #fff;
	line-height: 40px;
	font-size: 15px;
	font-weight: bold;
}
.footer-text-mem h5{
	font-size: 14px;
	color: #fff;
	font-family:  Roboto;
}
.footer-mem{
	list-style: none;
}
.footer-img{
	list-style: none;
}
.footer-img li{
	margin-right: 10px;
}
.footer-cor h5{
	font-size: 18px;

}
.footer-cor p{
	font-size: 14px;
}
.footer-dis h6{
	font-size: 12px;
	color: #b4b3b3;
}
.footer-dis p{
	font-size: 10px;
	width: 50%;
	color: #818080;
	margin: 0 auto;
}
.end-bootam{
	background: #282828;
}